body {
background-image: url("foni/fons4.png");
margin: 80;
}


h1
 {
color: rgb(0,233,233);
text-shadow: #000000;
text-decoration: underline;
font-size: 100px;
}

h2
 {
color: rgb(0,233,233);

}


p
 {
color: rgb(0,233,233);

}

img
 {
float:right;
}

div.lapa
 {
  margin: auto;
  width: 800px;
}

div.baneris
 {
    background-image: url('b_foni/214.jpg');
}

div.logs
 {
background-color: white;
}

a.poga {
    display: block;
	height: 40px;
	width: 169px;
	color: #FFFFFF;
	text-decoration: none;
    text-align: center;
    line-height: 40px;
}

a.poga:hover
{
    display: block;
	height: 40px;
	width: 169px;
	color: #FFFFFF;
    text-align: center;
    line-height: 40px;
}


